<div class="container">
  <div class="d-flex justify-content-center">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <%= image_tag @character.photo.attached? ? cl_image_path(@character.photo.key,width: 400 ,height: 600,crop: :thumb,gravity: :face) : 'http://source.unsplash.com/featured/?warrior'%>
        </div>
        <div class="flip-card-back">
          <h1><%= @character.name%></h1>
          <h3>Age:</h3>
          <p><%= @character.age %></p>
          <h3>Ranking:</h3>
          <p><%= @character.ranking%></p>
          <h3>Bio:</h3>
          <p><%= @character.bio %></p>
          <%= link_to "Create new obligation", new_character_obligation_path(@character), class: 'btn btn-primary mt-3' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <h2>Battles!</h2>
</div>
<div class="container">
  <div class="cards">
    <% @character.obligations.each do |obligation| %>
      <div class="card-category zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= obligation.battle.photo.attached? ? cl_image_path(obligation.battle.photo.key,crop: :thumb,gravity: :face) : 'http://source.unsplash.com/featured/?warrior' %>)">
        <%= obligation.battle.title %>
      </div>
    <% end %>
  </div>
</div>
