<div class="container">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <%= @character.photo.key, alt: "Character photo", width: 200, height: 300 %>
      </div>
      <div class="flip-card-back">
        <h1><%= character.name%></h1>
        <p><%= character.age %></p>
        <p><%= character.ranking%></p>
        <p><%= character.bio %></p>
      </div>
    </div>
  </div>
  <% @character.obligations.each do |obligation| %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <%= @character.photo.key, alt: "Character photo", width: 200, height: 300 %>
        </div>
        <div class="flip-card-back">
          <h1><%= obligation.battle.title%></h1>
          <p><%= obligation.battle.fight_date %></p>
          <p><%= obligation.battle.location %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
