<head>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet">
</head>
<div class="container text-center">
  <h1><%= @battle.title%></h1>
  <div class="d-flex justify-content-between">
    <div class="flex-card"><%= @battle.fight_date %></p>
  </div>
  <div class="flex-card">
    <p><%= @battle.location %></p>
    <div class="container" data-controller="get-all-addresses">
      <form class="d-flex my-5">
        <input type="hidden" id="custId" name="custId" value=<%=@battle.location%> data-get-all-addresses-target="address">
        <input class="map-form-tn" type="submit" value="Show location" class="btn btn-primary" data-action="click->get-all-addresses#geocodeSubmit">
      </form>
      <div id="map" style="height: 300px; width: 600px">
        <!-- Display the map in this div -->
      </div>
    </div>
  </div>
</div>
</div>
<div class="text-center">
  <h2>Characters!</h2>
</div>
<div class="container">
  <div class="cards">
    <% @battle.obligations.each do |obligation| %>
      <div class="card-category zoom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= obligation.character.photo.attached? ? cl_image_path(obligation.character.photo.key,crop: :thumb,gravity: :face) : 'http://source.unsplash.com/featured/?warrior' %>)">
        <%= obligation.character.name %>
      </div>
    <% end %>
  </div>
</div>
